p {
  color: red;
}
h1 {
  color: black;
}
h3 {
  color: blue;
}
.header {
  background: pink;
  width: 200px;
  height: 300px;
  color: blue;
}
.container h1 {
  font-size: 25px;
  color: #E45456;
}
@media screen {
  .myclass {
    color: blue;
  }
}
@media screen and (min-width: 1024px) {
  .myclass {
    color: green;
    font-size: 50px;
  }
}
@media mytext {
  .myclass {
    color: black;
  }
}
span {
  color: blue;
  font-size: 40px;
}
.myclass1 {
  font-size: 25px;
  color: red;
}
.myheader {
  border: 2px dashed green;
}
.myclass2 {
  background-color: #C0C0C0;
  font-size: 20px;
}
.myclass3 {
  padding-left: 100px;
  font-size: 10px;
}
.myclass4 {
  font-size: 30;
}
.cont {
  font-family: "Comic Sans MS";
  background-color: #AA86EE;
}
.class1 {
  font-size: 14px;
  color: #FF0000;
}
.class {
  font-size: 16px;
  color: #555;
}
